footer{
	background-color: #1c1528;
	font-family: 'Tajawal', sans-serif;
	width: 100%;
	color: #fff;
	width: 100%;
	clear: both;
}
.ferst-section{

}
.floaty{ 
	float:left;
	width: 21%;
}
.copyright{
	width: 90%;
	border-top: solid 2px gray;
	clear: both;
	height: 100px;
}
.icons {
    float: right;
    width: 40px;
    background-color: #a9a9a9;
    border-radius: 50px;
    height: 40px;
    /* margin: 4px; */
    margin-left: 30px;
    padding: 0px;
}
.copy-text{
	width: 50%;
	float: left;	
	padding: 11px;
}
.face-icon{
	width: 40px;
}
.services-list{
	list-style-type: none;
	padding: 0px;
}
.servic-name{
	margin-top:20px;
}
.link-list{
			list-style-type: none;
	padding: 0px;
}
.link-name {
	margin-top: 20px;
}
.contact-li{
		margin-top: 20px;
}
.contact-ul{
			list-style-type: none;
	padding: 0px;
}
.about-rst2a{
	text-align: justify;
}
.name{
	padding-left: 12px;
	font-size: 20px;
}
.blbla{
	margin-top:33px ;
}
@media only screen and (max-device-width: 768px){
	.floaty{
		width:90%;
text-align:center;
margin-top:50px;
		

}
	.copyright{
		height: 200px;
	}	

}